<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>Main file</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/dracula.min.css">
</head>
<body>
    
            <div id="alert-item" class="alert-item">Текст был успешно копирован в буфер обмена...</div>
            <nav class="navbar n-1" align="center">
                    
                <div class="nav-item white titlenav cl"><svg  xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cpu main-icon" viewBox="0 0 16 16">
                    <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0m-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
                </svg>Ailab<div style="position: absolute; top: 5px; left: 235px;">WEB</div></div>
                <button class="changed1" id="changed1"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"/>
                </svg></button>

                <button class="changed2" id="changed2"><svg style="margin-left: -5.75px; margin-top:-0.5px;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-brightness-low" viewBox="0 0 16 16">
                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8m.5-9.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707m-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707m7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707M3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707"/>
                </svg></button>
            </nav>
    <div class="row row-cols-3 justify-content-center">
        <div class="col"></div>
            <div class="col">
            <div class="main-form container ">
                <div class="nav-form" style="z-index: 5;">
                    <div class="cl-align-nav-main">
                        <div class="nav-form-item" id="file1">
                            <input class="form-input" value="main.py" id="file1re" ></input>
                            <button class="btn form-btn disabled" style="border: 0px; border-color: #ffffff00; height: 0px; border: 0px;"><div align="center" class="btn-text"  ></div></button>
                            <button class="btn btn-light form-btn" id="addfile2"><div align="center" class="btn-text" >+</div></button>       
                        </div>
                        <div class="nav-form-item" id="file2">
                            <input class="form-input" value="main1.py" id="file2re" ></input>
                            <button class="btn btn-light form-btn" id="delfile2"><div align="center" class="btn-text">-</div></button>
                            <button class="btn btn-light form-btn" id="addfile3"><div align="center" class="btn-text">+</div></button>
                        </div>
                        <div class="nav-form-item" id="file3">
                            <input class="form-input" value="main2.py" id="file3re" ></input>
                            <button class="btn btn-light form-btn" id="delfile3"><div align="center" class="btn-text">-</div></button>
                            <button class="btn btn-light form-btn"><div align="center" class="btn-text">+</div></button>
                        </div> 
                            
                            
                    </div>
                    

                    
                    <hr style="color: black; margin-top: 0px;">
                </div>
                    
                <div >     
                    <div class="input-code-form" id="fileredact1"><textarea class="input-code" id="codeInput" rows="10" cols="60">print('hello world1')</textarea></div>
                    <div class="input-code-form" id="fileredact2"><textarea class="input-code" id="codeInput1" rows="10" cols="60">print('hello world2')</textarea></div>
                    <div class="input-code-form" id="fileredact3"><textarea class="input-code" id="codeInput2" rows="10" cols="60">print('hello world3')</textarea></div>
                </div>   
                <div align="center" style="position: absolute;">
                    
                    
                        <div class="bt-group-el">
                            <button data-tooltip="Запуск" class="btn grbel btn-success" onclick="executeCode()"><div align="center"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-right-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M5.795 12.456A.5.5 0 0 1 5.5 12V4a.5.5 0 0 1 .832-.374l4.5 4a.5.5 0 0 1 0 .748l-4.5 4a.5.5 0 0 1-.537.082"/>
                            </svg></div></button>
                            <button data-tooltip="Сохранение" class="btn grbel btn-primary" onclick="saveCodeToFile()"><div align="center"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                                <path d="M11 2H9v3h2z"/>
                                <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                            </svg></div></button>
                            <button data-tooltip="Загрузить" class="btn grbel btn-danger" onclick="loadFile()"><div align="center"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
                            </svg>
                            </svg></div></button>
                        </div>
                        
                    
                        <div class="bt-group-2">
                            <button data-tooltip1="Копирование консоли в буфер обмена" class="btn grbel btn-warning image-copy"><div align="center"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1z"/>
                            </svg></div></button>
                            <button data-tooltip1="Копирование консоли в txt файл" class="btn grbel btn-warning" onclick="saveConsoleToFile()"><div align="center"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-filetype-txt" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-2v-1h2a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.928 15.849v-3.337h1.136v-.662H0v.662h1.134v3.337zm4.689-3.999h-.894L4.9 13.289h-.035l-.832-1.439h-.932l1.228 1.983-1.24 2.016h.862l.853-1.415h.035l.85 1.415h.907l-1.253-1.992zm1.93.662v3.337h-.794v-3.337H6.619v-.662h3.064v.662H8.546Z"/>
                            </svg></div></button>
                            <button data-tooltip1="Удаление содержимого из консоли" class="btn grbel btn-warning" id="consoletr"><div align="center"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                            </svg></div></button>
                        </div>
                    
                </div>
            
            </div>
            <div class="container bt-gr-all" align="center">
                
            </div>
            <form class="secondary-form container justify-content-end " >
                <div class="row justify-content-center">
                    <div class="row">
                        <div class="col">
                            <textarea class="console-output" placeholder="Консоль" id="console-output" style="border: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;" disabled></textarea>
                            <input class="console-output ch" id="console-input" style="height: 70px; border: 5px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); margin-top: -5px; border-top-left-radius: 0px;
                            border-top-right-radius: 0px; background-color: #b0d6d6;"></input>
                        </div>
                    </div>
                    

                </div>

            </form>
            <div class="container" align="center">
                <div align="center" style="margin-top: 25px; position: absolute; margin-left: -200px;">
                    <hr width="1000px">
                    <div>© 2025 AILAB_WEB</div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
<script>
        alertitem = document.getElementById("alert-item");
        alertitem.hidden = true;
        file1 = document.getElementById("file1");
        file2 = document.getElementById("file2");
        file3 = document.getElementById("file3");
        delfile2 = document.getElementById("delfile2");
        addfile2 = document.getElementById("addfile2");
        delfile3 = document.getElementById("delfile3");
        addfile3 = document.getElementById("addfile3");
        filer1 = document.getElementById("fileredact1");
        filer2 = document.getElementById("fileredact2");
        filer3 = document.getElementById("fileredact3");
        
        filere1 = document.getElementById('file1re');
        filere2 = document.getElementById('file2re');
        filere3 = document.getElementById('file3re');

        filer1.hidden = false;
        filer2.hidden = true;
        filer3.hidden = true;
        
        let create2=0
        let create3=0

        file1.setAttribute('style', 'background: white;')
        file2.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
        file3.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
        filere1.setAttribute('style', 'font-weight: 700;')
        filere2.setAttribute('style', 'font-weight: 400;')
        filere3.setAttribute('style', 'font-weight: 400;')

        filere1.onclick = function() {
            filer1.hidden = false;
            filer2.hidden = true;
            filer3.hidden = true;
            file1.setAttribute('style', 'background: white;')
            file2.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            file3.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            filere1.setAttribute('style', 'font-weight: 700;')
            filere2.setAttribute('style', 'font-weight: 400;')
            filere3.setAttribute('style', 'font-weight: 400;')
        }
        filere2.onclick = function() {
            filer1.hidden = true;
            filer2.hidden = false;
            filer3.hidden = true;
            file1.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            file2.setAttribute('style', 'background: white;')
            file3.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            filere1.setAttribute('style', 'font-weight: 400;')
            filere2.setAttribute('style', 'font-weight: 700;')
            filere3.setAttribute('style', 'font-weight: 400;')
        }
        filere3.onclick = function() {
            filer1.hidden = true;
            filer2.hidden = true;
            filer3.hidden = false;
            file1.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            file2.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            file3.setAttribute('style', 'background: white;')
            filere1.setAttribute('style', 'font-weight: 400;')
            filere2.setAttribute('style', 'font-weight: 400;')
            filere3.setAttribute('style', 'font-weight: 700;')
        }

        file2.hidden = true;
        file3.hidden = true;
        let count = 1
        addfile2.onclick = function() {
            file2.hidden = false;         
            count += 1;
            addfile2.hidden = true;
            filer1.hidden = true;
            filer2.hidden = false;
            filer3.hidden = true;
            if (create2 == 0){
                const editor1 = CodeMirror.fromTextArea(document.getElementById('codeInput1'), {
                lineNumbers: true,
                mode: "python",  // Устанавливаем Python как язык для подсветки
                theme: "default" // Устанавливаем стандартную тему
                });
                editor1.setSize(1320,370);
                editor1.refresh();
                create2 += 1;
            }
            file1.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            file2.setAttribute('style', 'background: white;')
            file3.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            filere1.setAttribute('style', 'font-weight: 400;')
            filere2.setAttribute('style', 'font-weight: 700;')
            filere3.setAttribute('style', 'font-weight: 400;')
        }

        delfile2.onclick = function() {
            file2.hidden = true;
            count -= 1
            if (count == 1){
                addfile2.hidden = false;
            }
            filer1.hidden = false;
            filer2.hidden = true;
            filer3.hidden = true;
            file1.setAttribute('style', 'background: white;')
            file2.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            file3.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            filere1.setAttribute('style', 'font-weight: 700;')
            filere2.setAttribute('style', 'font-weight: 400;')
            filere3.setAttribute('style', 'font-weight: 400;')
        }

        addfile3.onclick = function() {
            file3.hidden = false;
            addfile3.hidden = true;
            count += 1;
            filer1.hidden = true;
            filer2.hidden = true;
            filer3.hidden = false;
            if (create3 == 0){
                const editor2 = CodeMirror.fromTextArea(document.getElementById('codeInput2'), {
                lineNumbers: true,
                mode: "python",  // Устанавливаем Python как язык для подсветки
                theme: "default" // Устанавливаем стандартную тему
                });
                editor2.setSize(1320,370);
                editor2.refresh();
                create3 += 1;
            }
            file1.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            file2.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            file3.setAttribute('style', 'background: white;')
            filere1.setAttribute('style', 'font-weight: 400;')
            filere2.setAttribute('style', 'font-weight: 400;')
            filere3.setAttribute('style', 'font-weight: 700;')
        }

        delfile3.onclick = function() {
            file3.hidden = true;
            addfile3.hidden = false;
            count -= 1;
            if (count == 1){
                addfile2.hidden = false;
            }
            filer1.hidden = false;
            filer2.hidden = true;
            filer3.hidden = true;
            file1.setAttribute('style', 'background: white;')
            file2.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            file3.setAttribute('style', 'background: linear-gradient(45deg, #9890e3, #b1f4cf);')
            filere1.setAttribute('style', 'font-weight: 700;')
            filere2.setAttribute('style', 'font-weight: 400;')
            filere3.setAttribute('style', 'font-weight: 400;')
        }

        
        
        
        const editor = CodeMirror.fromTextArea(document.getElementById('codeInput'), {
        lineNumbers: true,
        mode: "python",  // Устанавливаем Python как язык для подсветки
        theme: "default" // Устанавливаем стандартную тему
        });
        editor.setSize(1320,370);
        editor.refresh();
        
        document.getElementById('changed2').hidden = true;
        document.getElementById('changed1').onclick = function() {
            document.getElementById('changed2').hidden = false;
            document.getElementById('changed1').hidden = true;
        }
        document.getElementById('changed2').onclick = function() {
            document.getElementById('changed1').hidden = false;
            document.getElementById('changed2').hidden = true;
        }


        cleartext = document.getElementById("console-output");
        concleartr = document.getElementById("consoletr");
        concleartr.onclick = function() {
            cleartext.value = "";
        }

        document.querySelector('.image-copy').addEventListener('click', () => {
            navigator.clipboard.writeText(document.getElementById('console-output').value);
            alertitem.hidden = false;  
                   
            setTimeout(() => alertitem.hidden = true, 5000);
        })
        
        
        
        
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>