<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ailab WEB</title>
    <!-- CodeMirror Основной стиль -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css">
    <!-- Тема Dracula (или выбери другую) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/dracula.min.css">
    <!-- Стили для автодополнения -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/hint/show-hint.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="header">
        <div class="logo-block">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-style">
            <div class="header-title">AiLab WEB</div>
        </div>

        <div class="night-mode">🌙</div>
    </div>

    <div class="container">
        <div class="tabs">
            <div class="tab active" data-tab="tab1"><span>main.py</span><span class="close-tab">×</span>
                <input type="text" class="tab-input" value="main.py">
            </div>
            <div class="tab" data-tab="create_tab">+</div>
        </div>

        <!-- Заменили div.editor на div с id для CodeMirror -->
        <div class="code-area" data-tab-content="tab1"></div>

        <div class="toolbar">
            <div class="toolbar-left">
                <button class="button run-button" onclick="executeCode()"><i><img class="button-icons" src="{{ url_for('static', filename='img/play443.svg') }}"></i></button>
                <button class="button save-button" onclick="saveCodeToFile()"><i><img class="button-icons" src="{{ url_for('static', filename='img/save.svg') }}"></i></button>
                <button class="button open-button" onclick="loadFile()"><i><img class="button-icons" src="{{ url_for('static', filename='img/load.svg') }}"></i></button>
            </div>
            <div class="toolbar-right">
                <button class="button download-button" onclick="saveConsoleToFile()"><i><img class="button-icons" src="{{ url_for('static', filename='img/save-console-as-text.svg') }}"></i></button>
                <button class="button text-button" onclick="copyToClipboard()"><i><img class="button-icons" src="{{ url_for('static', filename='img/play.svg') }}"></i></button>
                <button class="button delete-button" onclick="clearConsole()"><i><img class="button-icons" src="{{ url_for('static', filename='img/del-console.svg') }}"></i></button>
            </div>
        </div>

        <div class="console">
            <div class="console-label">Консоль</div>
            <textarea class="console-output" readonly></textarea>
            <textarea class="console-input" id="consoleInput" placeholder="" readonly></textarea>
        </div>
    </div>

    <div class="footer">
    </div>

    <!-- Основной CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/python/python.min.js"></script>

    <!-- Дополнения для CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/edit/closebrackets.min.js"></script> <!-- Автозакрытие скобок -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/hint/show-hint.min.js"></script> <!-- Автодополнение -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/hint/anyword-hint.min.js"></script> <!-- Слова из текста -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/comment/comment.min.js"></script> <!-- Комментирование Ctrl+/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/edit/matchbrackets.min.js"></script> <!-- Подсветка скобок -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/edit/closebrackets.min.js"></script> <!-- Закрытие скобок -->

    <!-- Подключаем Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>