{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block main %}
  <h2>Вход</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label }}<br>
      {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.password.label }}<br>
      {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
  <p>Нет аккаунта? <a href="{{ url_for('auth_bp.register') }}">Зарегистрируйтесь</a></p>
{% endblock %}
