<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ailab WEB</title>
    <!-- CodeMirror Основной стиль -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css">
    <!-- Тема Dracula (или выбери другую) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/dracula.min.css">
    <!-- Стили для автодополнения -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/hint/show-hint.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="header">
        <div class="logo-block">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-style">
            <div class="header-title">AiLab WEB</div>
        </div>

        <div class="night-mode">🌙</div>
    </div>